<div id='soundboardify' style='visibility:hidden;'>
  <h4>soundboardify</h4>
  <% @sounds.each do |sound| %>
    <div class="sound-wrap" data-url="<%= sound.url %>">
      <img src="<%= sound.image_url %>" class="sound" title="<%= sound.name %>" />
      <span class="sound-title">
        <%= sound.name %>
      </span>
    </div>
  <% end %>
</div>