Install Soundboardify Hangout App

<div class="g-hangout" data-render="createhangout"
    data-initial_apps="[{ app_id : '271682765448', start_data : 'dQw4w9WgXcQ', 'app_type' : 'ROOM_APP' }]">
</div>